sympy==1.14.0
networkx==3.5
# For future numerical solves or testing
numpy==2.3.4
# Dev tools (optional but standard)
pytest==8.4.2  # For running solver tests
# Flask
flask==3.1.2
typing==3.7.4.3
flask_cors==6.0.1
